
.nav-head {
    background-color: #f7f8fa;
    width: 100%;
    max-height: 80px;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    border: 3px solid #eeeff1;
    padding-right: 6%;
    margin-bottom: 15px;

}
.nav-item{
    float: right;
    padding: 14px 20px;
    display: inline-block;
    color: #6a6f72;
}

.nav-item:hover{

    background-color:  #eeeff1;
    text-decoration: none;
}

.main{
    margin-top: 2cm;
    margin-bottom: 2cm;
    height: 100%;
    width: 100%;

}
.footer{
    float: right;
    margin-top: 15px;
    height: 100%;
    width: 100%;
}

.footer-head-content{
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: white;
    border-bottom: 2px solid #e5e5e5;
    height: auto;
    width: 100%;
}
.footer-text{
    float: right;
    margin-top: 15px;
}
.phone-icon{
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 20px;
    float: right;
    height: 30px;
}
.phone-number{
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
}
.footer-content{
    position: relative;
    overflow: hidden;
    direction: rtl;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    padding-right: 30px;
    padding-left: 30px;
    background-color: white;

}
.trust-photo {
    float: right;
    padding-right: 25px;
    padding-left: 15px;
}
.text{
    margin-left: 15px;
    text-align: justify;
    float: right;
    width: 40%;
    margin-top: 8px;
    padding-right: 80px;
    padding-left: 0px;
    padding-bottom: 15px;
}
.signup{
    float: right;
    padding-top: 0;
    padding-bottom: 15px;
    width: 30%;
    height: auto;
}
.signup-butt{
    padding-right: 5px;
    text-align: center;
    height: 0.8cm;
    width: 2cm;
    color: white;
    border-radius: 30px;
    border: 1px solid #f68658;
    background-color: #f68658;
    transition: background .5s , color .5s;
}
.signup-butt:hover{
    background-color: white;
    color:#f68658 ;
}

.signup-textbox{
    width: 70%;
    height: 0.7cm;
    border: none;
    margin-left: 0px;
    margin-right: 0;
    padding-left: 18px;
}
.social{
    margin-top: 20px;
    float: right;
}
.social-button{
    margin-right: 38px;
    width: 20px;
    height: 20px;
}
.social-icon{
    width: 20px;
    height: 20px;
}

